@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Inter:wght@400;600;700&display=swap');

* {
  font-family: 'Abhaya Libre', serif;
}
.loadBox{
  display: flex;
  top: 50%;
  left: 50%;
  position: absolute;
  align-items: center; 

  justify-content: center; 

  text-align: center; 
}
.container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}
.headshot {
  max-width: 30%;
  clip-path: circle();
  height: auto;
  width: auto;
  opacity: 0;
  animation: floatUp 1s forwards;
  flex: 0 0 30%;
  padding: 0px;
}
.proj-link {
  animation: floatUp 2s 1s forwards;
  opacity: 0;
  color: black;
}

.proj-link:hover {
  color: var(--secondaryColor);
}

.nav-container {
  display: inline-block;
  margin-left: auto;
  margin-right: 90px;
  margin-top: 50px;
  animation: floatUp 3s forwards;
  animation-delay: 4s;
  opacity: 0;
  color: black;
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  font-size: 1rem;
  margin-left: 10rem;
  margin-right: 15px;
  opacity: 0;
  animation: floatUp 2s forwards;
  padding-right: 100px;
}

.this-title {
  flex-grow: 1;
  font-size: 7vw;
}

.type-write {
  width: 55vw;
  height: 15vh;
}

.croom {
  flex-grow: 1;
  font-size: 3.5vw;
  color: rgb(85, 107, 148);
  padding-left: 20px;
  margin-left: 40px;
  margin-top: 10px;
  padding-top: 0px;
  align-self: flex-start;
}

.goals {
  flex-grow: 1;
  font-size: 3.5vw;
  color: rgb(113, 120, 150);
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 40px;
  align-self: flex-start;
}

.mygoals {
  justify-content: flex-start;
  height: fit-content;
  margin-right: 60px;
  margin-top: 100px;
  width: 60vw;
  align-items: left;
  text-align: left;
  position: relative;
  background-color: rgb(224, 215, 215);
}

.moreinfo {
  flex-grow: 1;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.7vw;
  padding-left: 40px;
  padding-top: 20px;
  align-self: flex-start;
  margin-bottom: 30px;
}

.nature {
  width: 30vw;
  margin-right: 40px;
  border-radius: 50%;
}

.grad {
  max-width: 45%;
  margin-left: 90px;
  z-index: 1;
  border-radius: 50%;
}

.info p {
  padding-top: 20px;
  flex-grow: 1;
  font-size: 1rem;
}

.extra {
  display: flex;
  margin-left: 40px;
  width: 50vw;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: -1;
  background-color: whitesmoke;
}

.goal-align {
  margin-top: 150px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 15px;
}

.croom-align {
  margin-top: 150px;
  width: 100vw;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media (max-width: 1350px) {
  .type-write{
    width: 45vw;
    height: 15vw;
  }
}
@media (max-width: 900px) {
  .type-write{
    width: 44vw;
    height: 27vw;
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width:100vw;
  }
  .croom-align {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5vh;
    margin-bottom: 0px;
    margin-left:0vh;
  }
  .extra {
    display: flex;
    margin-left: 0px;
    width: 70vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: -1;
    background-color: whitesmoke;
  }
  .nature {
    width: 70vw;
    margin-left: 15vw;

    border-radius: 50%;
  }
  .headshot {
    max-width: 60%;
    clip-path: circle();
    height: auto;
    width: auto;
    opacity: 0;
    animation: floatUp 1s forwards;
    flex: 0 0 30%;
    padding: 0px;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    font-size: 1rem;
    opacity: 0;
    animation: floatUp 2s forwards;
    padding-right: 100px;
  }
  .goal-align {
    margin-top: 30px;
    margin-left:3vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 15px;
  }
  .type-write{
    margin-top: 2vh;
    width: 90vw;
  }
  .nav-container{
    margin-top: 5vh;
    margin-bottom:10vh;
  }

}
@media (max-width: 450px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5vh;
    width:100vw;
  }
  .headshot {
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 35%;
    height: auto;
    width: 100%; /* Set image width to 100% */
    opacity: 0;
    animation: floatUp 1s forwards;
    flex: 0 0 30%;
    padding: 0px;
    z-index: -1;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    font-size: 1rem;
    opacity: 0;
    animation: floatUp 2s forwards;
    padding-right: 100px;
  }
  .goal-align {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 15px;
  }
  .croom-align {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 5px;
  }
  .type-write{
    width: 80vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:0vh;
  }

  .moreinfo {
    flex-grow: 1;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 2.3vw;
    padding-left: 40px;
    padding-top: 20px;
    align-self: flex-start;
    margin-bottom: 30px;
  }
  .this-title{
    margin-left: 9vw;
    font-size: 10vw;

  }
  .nav-container{
    margin-top: 0vh;
    margin-left: 16vw;
    margin-bottom:6vh;
  }
}
