@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
  
}
:root{
    --mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
  z-index: 10;
}
.link {
    margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
    font-size: 1.7rem;
  }
.link:hover {
    color: var(--secondaryColor);
}
header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
  
}
.logo{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
}
.logo:hover{
    background-color: gray;
    transition: .3s;
}
header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
      visibility: visible;
      opacity: 1;
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  
    header nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: var(--mainColor);
      transition: 1s;
      transform: translateY(-100%);
      visibility: hidden;
      opacity: 0;
    }
  
    header .responsive_nav {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
    header .responsive_nav ~ .nav-btn {
      transition: 1s;
      visibility: hidden;
      opacity: 0;
    }
  
    nav .nav-close-btn {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  
    .link {
      font-size: 1.5rem;
    }
  }