@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
	font-family: "Titillium Web", sans-serif; 
}
:root{
    --mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}
.naV-BAR{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    width: 100vw;
    
}
.link {
    margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
    font-size: 1.7rem;
  }
.link:hover {
    color: var(--secondaryColor);
}
header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
  
}
.logo{
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
}
.logo:hover{
    background-color: gray;
    transition: .3s;
}
header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1; /* Adjusted z-index to make the button clickable */
  }

  header nav {
    position: fixed;
    top: 0; /* Adjusted to cover the entire viewport */
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    opacity: 0;
    z-index: 1; /* Adjusted z-index to make the navbar cover other elements */
  }

  header .responsive_nav {
    transform: translateY(0); /* Adjusted to slide down the navbar */
    opacity: 1;
  }

  header .responsive_nav ~ .nav-btn {
    transition: 1s;
    visibility: hidden;
    opacity: 0;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  @media only screen and (max-width: 700px) {
    .links-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  
    .link {
      font-size: .5rem;
    }
  }
  .link {
    font-size: 1.5rem;
  }

}